<div class="backdrop"></div>
<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <h3><a class="<%= path === '/' ? 'active' : '' %>" href="/">Random Cat</a></h3>
      </li>
      <li class="main-header__item">
        <h3><a class="<%= path === '/products' ? 'active' : '' %>" href="/breeds">Cat Breeds</a></h3>
      </li>
    </ul>
  </nav>
</header>
